<html>

<head>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3k4Txq8N86eGVULR76_yLRiMKKX-4jDc&sensor=false"> </script>
</head>
<body>
<div id="mapContainer"><div id="map-canvas"/></div>

<h1>Listing posts</h1>
 <%= link_to 'New post', new_post_path %>

<!-- <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Delete', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table> -->


<div class="row">
        <div class="col-6 col-sm-3 col-lg-4">
            <h3>Photos</h3>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="item active">
                  <img src="pictures/food1.jpg" alt="...">
                  <div class="carousel-caption">
                    Sushi
                  </div>
                </div>
                <div class="item">
                  <img src="pictures/food2.jpg" alt="...">
                  <div class="carousel-caption">
                    Seafood Pasta
                  </div>
                </div>
                <!-- ... -->
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>


        </div><!--/span-->
        <div class="col-12 col-sm-9 col-lg-8">
            <h3>Newsfeed</h3>
              <% @posts.each do |post| %>
                <div class="row">
                  <div class="newsfeed_elm">
                      <div class="col-2 col-sm-2 col-lg-2"><img src="pictures/food2.jpg" class="img-thumbnail"></div>
                      <div class="col-10 col-sm-10 col-lg-10">
                      <div> <%= post.title %>: <%= post.text %> </div>
                      <div>
                        <%= link_to 'Show', post %>
                        <%= link_to 'Edit', edit_post_path(post) %>
                        <%= link_to 'Delete', post_path(post),
                                method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                  </div>
                </div>
        </div>
<!--                 <tr>
                  <td><%= post.title %></td>
                  <td><%= post.text %></td>
                  <td><%= link_to 'Show', post %></td>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                  <td><%= link_to 'Delete', post_path(post),
                                method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr> -->
              <% end %>


        </div><!--/span-->



<%= javascript_include_tag "googleMap" %> 
</body>
</html>